.form {
    width: 700px;
    background-color: #ebebf1;
    opacity: 1;
    
}

.my-grow:hover,
.my-grow:focus {
  transform: scale(1.03);
}

.my-grow-h:hover,
.my-grow-h:focus {
  transform: scale3d(1.05,1.03,1);
}
